flask==3.1.1
dhanhq==2.0.2
gunicorn==23.0.0
Flask-Cors==4.0.0
beautifulsoup4==4.13.4
apscheduler==3.11.0
pandas==2.2.3
pyotp==2.9.0
kiteconnect==5.0.1
Flask-SQLAlchemy==3.1.1
alice-blue==2.0.4
growwapi==0.0.8
git+https://github.com/AnkitSG07/ShoonyaApi-py.git
https://github.com/AnkitSG07/ShoonyaApi-py/raw/master/dist/NorenRestApi-0.0.30-py2.py3-none-any.whl
fyers-apiv3==3.1.7
