{% extends 'base.html' %}
{% block title %}Subscriptions{% endblock %}
{% block content %}
<table class="table table-bordered">
  <thead>
    <tr><th>User</th><th>Plan</th><th>Start Date</th><th>End Date</th><th>Payment Status</th><th>Action</th></tr>
  </thead>
  <tbody>
    {% for sub in subscriptions %}
    <tr>
      <td>{{ sub.name }}</td>
      <td>{{ sub.plan }}</td>
      <td>{{ sub.subscription_start }}</td>
      <td>{{ sub.subscription_end }}</td>
      <td>{{ sub.payment_status }}</td>
      <td><button class="btn btn-sm btn-info">Change</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
